<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Multicomp Lab's Validation!</title>
    <h1>Welcome to Multicomp Lab's Validation!</h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <form>
          <div class="col-sm-10">
              <a class="btn btn-primary" href="/SelectLanguage">Administrator</a>
              <a class="btn btn-primary" href="/SelectLanguage">Participant</a>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
