<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Please select your input language.</title>
  </head>
  <body>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        German
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        French
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        Hindi
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        Arabic
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        Chinese
      </label>
    </div>
  </body>
</html>
