<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Please select your input language.</title>
    <h1>Select a language: </h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <form>
        <div class="col-sm-10">
            <a class="btn btn-primary" href="/Questions">German</a>
            <a class="btn btn-primary" href="/Questions">French</a>
            <a class="btn btn-primary" href="/Questions">Hindi</a>
            <a class="btn btn-primary" href="/Questions">Arabic</a>
            <a class="btn btn-primary" href="/Questions">Chinese</a>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
